.calendar__element {
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(center);
  @include display(flex);
  background: $color-background-default;
  margin: auto;
  max-width: $m-l;
  padding: $em;
  width: 100%;
}
.calendar__element--with-shadow {
  border-bottom-left-radius: $em-xxxxs;
  border-bottom-right-radius: $em-xxxxs;
  box-shadow: $shadow-standard;
}

// Overrides
.rbc-calendar {
  width: 100%;
}
.rbc-time-view {
  background: $color-grey-lighter;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-slot-selection {
  background: $color-white-true;
}

.rbc-day-slot .rbc-event {
  border: none;
  border-radius: 0;
}

.rbc-day-slot .rbc-event[title=" : available"] {
  background: $color-white-true;
  &:hover {
    border: $em-xxxxs dashed $color-grey-light;
  }
}

.rbc-day-slot .rbc-event[title*="history"] {
  background: transparent;
  background-image: linear-gradient(135deg, transparent 41.67%, #000000 41.67%, #000000 50%, transparent 50%, rgba(0,0,0,0) 91.67%, #000000 91.67%, #000000 100%);
  background-size: 8.49px 8.49px;
  border-bottom: $em-xxxxs solid $color-black-true;
  color: transparent;
  cursor: not-allowed;
}
